<div class="background-image">
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <div class="d-flex flex-wrap">
        <div>
          <h2 class="display-3">Welcome to the UEAB Repository</h2>
          <p class="lead">If you’re looking for more specific News, publication or article, please search below</p>
        </div>
      </div>


    </div>
  </div>
<!--  <small class="credits">Photo by <a href="https://www.pexels.com/@inspiredimages">@inspiredimages</a></small>-->
</div>
